@import "compass/css3";
 * {
	 box-sizing: border-box;
	 font-family: 'Raleway', sans-serif;
	 
	}

 body {
	 background: #ffffff !important;
}
 blockquote {
	 margin: 3%;
	 border-left: 10px solid #dca684;
	 padding: 2%;
	 color: #222;
	 background: #f1f1f1;
	 font-style: italic;
	 line-height: 130%;
}
 
 a:hover {
	 color: #d27d7d;
}
 .top {
	 top: 20rem;
	 width: 100%;
	 background:#dca684;
	 border-bottom: 3px solid #ccc;
}
 
 .header1 h1 {
	 text-align: center;
	 font-style: italic;
	 font-weight: normal;
	 color: #28568f;
}
 .header1 h1 strong {
	 margin: 0;
	 font-weight: normal;
	 font-size: 1.4em;
}
 .header1 .author {
	 font-size: 1.2em;
	 font-weight: normal;	 
	 max-width: 400px;
	 text-align:center;
	 margin: -1em auto 0 auto;
	 padding: 0.3em;
	  color: rgb(255, 255, 255);
}
 .content {
	 max-width: 750px;
	 margin: auto auto;
	 padding: 0;
}
 .date {
	 float: left;
	 width: 10%;
	 color: #444;
	 text-align: center;
}
 .date strong {
	 margin: 0;
	 line-height: 50%;
}
 .date .day {
	 float: left;
	 margin-top: 0.1em;
	 width: 100%;
	 color: #dca684;
	 font-size: 200%;
}
 .date-line {
	 display: none;
}
 .article {
	 width: 90%;
	 margin: 0 0 6em 0;
	
	 padding: 0 1.3em 0 1.3em;
	 border-left: 5px solid #d27d7d;
}
 .article img {
	 width: 100%;
	 height: auto;
	 padding: 2%;
	 margin-bottom: 4%;
	 border: 1px solid #ccc;
	 background: #dca684;
}
 .article h2 {
	 font-weight: normal;
	 font-size: 55px;
	 color: #28568f;
	 margin: 0;
}
 .article h3 {
	 font-weight: normal;
	 font-size: 16px;
	 color: #888;
	 font-style: italic;
	 margin: 0 0 1em 0;
}
 .article p {
	 margin: 0;
	 padding-top: 8px;
	 color: #555;
	 text-align: justify;
	 font-size: 1.4em;
	 line-height: 150%;
	 text-indent: 2em;
}
 .article .firstpara {
	 text-indent: 0;
}
 .article .pause {
	 margin: 2em auto 2em auto;
	 color: #444;
	 width: 60%;
	 padding: 10px;
	 text-align: center;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
}
 .article .firstcharacter {
	 float: left;
	 font-size: 5em;
	 line-height: 0.6em;
	 padding-top: 0.12em;
	 padding-right: 0.1em;
	 padding-left: 0;
}
 
 .prev a, .next a {
	 position: fixed;
	 top: 9.6em;
	 padding: 1em;
	 background: #f1f1f1;
	 border: 1px solid #ccc;
	 border-radius: 5px;
}
 .prev a:hover, .next a:hover {
	 background: #fff;
}
 .prev a {
	 left: 0.7em;
}
 .next a {
	 right: 0.7em;
}
 @media only screen and (max-width: 450px) {
	 .content {
		 margin-top: 2em;
	}
	
	 .date {
		 display: none;
	}
	 .date-line {
		 display: inline;
	}
	 .article {
		 width: 100%;
		 margin: 0 auto 2em auto;
		 border-left: none;
		 padding-bottom: 2em;
		 border-bottom: 1px solid #ccc;
	}
	 .article p {
		 font-size: 1.2em;
	}
	 .header1 {
		 height: auto;
		 position: fixed;
		 top: 0;
		 padding: 0;
		 margin: 0;
		 background: #222 url(https://subtlepatterns.com/patterns/navy_blue.png);
	}
	 .header1 img {
		 height: 20px;
		 width: 20px;
	}
	 .header1 h1 {
		 text-align: center;
		 width: 100%;
		 margin: 0;
		 color: #f1f1f1;
	}
	 .header1 h1 strong {
		 font-size: 80%;
	}
	 .header1 .author {
		 display: none;
	}
	 
	 .prev a, .next a {
		 position: relative;
		 margin-bottom: 2em;
		 text-align: center;
		 top: 0;
	}
	 .prev a {
		 float: left;
		 width: 40%;
	}
	 .next a {
		 float: right;
		 width: 40%;
	}
}
 ::selection {
	 color: white;
	 background: rgb(80, 40, 40);
}
 