html, body { height: 100%; }

body {
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 100%;
  background: white no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  cursor: pointer;;
  color: white;
}

.slide__label {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 32px;
  font-family: "Helvetica", "Arial", sans;
  font-weight: 900;
  font-size: 64px;
  backdrop-filter: blur(5px);
}

.slide:nth-of-type(1) {
  background-image: url("/images/bingo.jpg");
}

.slide:nth-of-type(2) {
  background-image: url("/images/cameraclose.jpg");
}

.slide:nth-of-type(3) {
  background-image: url("/images/valBlackRussian.jpg");
}

.slide:nth-of-type(4) {
  background-image: url("/images/eye.jpg");
}

.slide:nth-of-type(5) {
  background-image: url("/images/jumbo.jpg");
}