@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #222831;
}
.hovergallery-flex-container {
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
  
  flex-wrap: wrap; 
 }

.hovergallery-flex-column {
  -ms-flex: 50%;
  
  flex: 50%;
  max-width: 50%;
  padding: 9px; }
@media screen and (max-width: 768px) {
  .hovergallery-flex-column {
  -ms-flex: 100%;
  /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 9px;
  }
}

.hovergallery-flex-column img {
  vertical-align: middle;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3); 
 }

.hovergallery-img {
  margin-bottom: 20px;
  padding-bottom: 0px !important; 
 }

.hovergallery-content-main {
  padding: 35px; }

.hovergallery-hover-text {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: left;
  font-size: 26px;
}

.hovergallery-hover-text * {
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease; }

.hovergallery-hover-text p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 20px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: 400;
}
.hovergallery-hover-text:hover >img {
  opacity: 0.3;
}
.hovergallery-hover-text:hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}