* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.project-title {
  color: #726b7b;
  font-size: 50px;
	margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.slider {
  background: #000;
  height: 600px;
  position: relative;
  text-align: center;
  width: 100%;
}
.arrow {
  background: #dca684;
  border: none;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  display: none;
  opacity: .4;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .2s;
	top: 50%;
  transition: .2s;
}
.arrow:hover {
  opacity: .8;
}
.arrow.next {
  right: 2%
}
.arrow.prev {
  left: 2%;
}
.slide {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding: 90px 0 0;
  position: absolute;
  width: 100%;
}
.slide-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px 0;
  text-transform: uppercase;
}
.slide-desc {
  font-size: 20px;
  margin: 40px auto 0;
  width: 65%;
  background-color: #726b7b;
  opacity: 80%;
  
}
.slide-image,
.slide-image img{
  height: 100%;
  width: 100%;
}
.slide:first-of-type {
  background-image: url(./images/soweto.jpg);
}
.slide:nth-of-type(2) {
  background-image: url(./images/Johannesburgwide4.jpg);
}
.slide:nth-of-type(3) {
  background-image: url(./images/kathlehong.jpeg);
}
.slide:last-of-type {
  background-image: url(./images/bleak.jpg);
}
.active {
  display: block;
}
.slide-nav {
  bottom: 30px;
	position: absolute;
   width: 100%;
}
.holder {
  background: #fff;
  border: 2px solid #726b7b;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  transition: background .4s;
}
.holder:last-of-type {
  margin-right: 0;
}
.holder:hover {
  transform: scale(1.3);
}
.item-active {
  background: #dca684;
  transform: scale(1.3);
}
.dot {
  border-radius: 50%;
}
.dot,
.square{
  height: 15px;
	width: 15px;
}
.rectangle {
  height: 15px;
  width: 30px;
}
