
body {
	background: #222831;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 130vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	
	background-color: #FFD369;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 600px;
	width: 500px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: #FFD369;
	border: 0;
	border-radius: 4px;
	color: #222831;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 500px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}


